main {
  background: linear-gradient(
    331deg,
    rgba(6, 199, 109, 1) 0%,
    rgba(5, 154, 150, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}

.section-home-page {
  padding: 20px;
height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-home-page {
    text-align: center;
    color: #fff;
    padding-top: 28px;
    text-transform: uppercase;
}