.section-home-page {
  padding: 20px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-home-page {
  text-align: center;
  color: #fff;
  padding-top: 28px;
  text-transform: uppercase;
}

@media (max-height: 500px) {
  #title-home-page {
    display: none;
  }

  .section-home-page {
    height: 100vh;
  }

  .card-introduction {
    margin: 40px auto;
    min-height: 370px;
  }
}
