.section-list-tasks {
  padding: 20px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.list-tasks {
  width: 100%;
  border: 2px solid #fff;
  height: 800px;
  border-radius: 20px;
}
