.section-list-tasks {
  padding: 20px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.list-tasks {
  width: 100%;
  border: 2px solid #fff;
  height: 800px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
flex-direction: column;
gap: 20px;
}


.function-add-task {
display: flex;
align-items: center;
padding: 10px;
justify-content: center;
border: 2px solid #fff;
border-radius: 20px;
color: #fff;
gap: 10px;
cursor: pointer;
}

.function-add-task p {
  font-size: 18px;
  }

  
.function-add-task ion-icon {
  font-size: 24px;
  }