.card-task {
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card-task p{
  color: #fff;
  font-size: 18px;
}

.card-task-icons {
  font-size: 24px;
  display: flex;
  gap: 20px;
  color: #fff;
}

.card-task-icons {
  font-size: 24px;
  display: flex;
  gap: 20px;
  color: #fff;
}

.card-task-icons ion-icon {
  cursor: pointer;
}