.card-task {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card-task p {
  color: #fff;
  font-size: 18px;
}

.task-icons-functions {
  color: #fff;
  font-size: 24px;
  display: flex;
  gap: 15px;
}

.task-icons-functions-top {
  display: flex;
  gap: 5px;
}

.task-icons-functions-bottom {
  display: flex;
  gap: 5px;
}

.task-icons-functions ion-icon {
  cursor: pointer;
}

.card-task-cost-bigger {
  border: 2px solid red;
}

.card-task-cost-smaller {
  border: 2px solid #fff;
}

@media (max-width: 700px) {
  .card-task {
    text-align: center;
    gap: 10px;
    flex-direction: column;
  }
  .task-icons-functions {
    font-size: 22px;
  }
  .card-task p {
    font-size: 16px;
  }
  
}
